*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    /* font-family: 'Gayathri', sans-serif; */
font-family: 'Montserrat', sans-serif;
/* font-family: 'Nunito', sans-serif; */
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

header{
   position: fixed;
   width: 100%;
}

.header{
    
    width: 100%;
    max-width: 1200px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    flex-basis: 15%;
}

nav{
    flex-basis: 50%;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul li{
    list-style-type: none;
    font-size: 20px;
   
}

nav ul li a{
    color: rgb(250, 240, 240);
}

.home{
    background-image: url(images/cover1.jpg);
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.6);
    color: #fff;
    padding: 0 50px;
} 

.container h1{
    font-size: 50px;
    text-align: center;
}

.container p{
    font-size: 20px;
    text-align: center;
}

.separation-line{
    height: 2px;
    width: 300px;
    margin: 30px auto;
    background-color: #fff;
}

.separation-line .fa{
    transform: rotate(-45deg);
    position: relative;
    top: -7px;
    left: 125px;
    margin-right: 10px;
}

.search-box{
    margin: 20px;

width: 500px;
border-radius: 5px;
background-color: #fff;
}

.search-by{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.tabcontent {
    display: none;
}
.search-by li{
    list-style-type: none;
    padding: 20px 25px 15px;
    font-size: 20px;
}
.search-by li a{
    color: rgb(116, 116, 116);

}

.tabcontent form{
   margin: 30px;
   background-color: rgb(38, 38, 165);
   border-radius: 5px;
}

.tabcontent form input{
    width: 80%;
    padding: 10px;
    border:1px solid black;
    border-radius: 5px 0px 0 5px;
    margin-right: 30px;
}

.tabcontent form .fa{
   
    color: rgb(255, 255, 255);
}

/* ================================== about section================================ */

.abt-container{
    width: 100%;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.abt-container p{
    font-size: 15px;
    word-spacing: 2px;
    color: rgb(88, 88, 88);
}

.abt-head{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.abt-head h2{
    font-size: 35px;
    font-weight: 300;
}

.abt-head h2 span{
    font-weight: 500;
}

.abt-head .separation-line{
    color: rgb(40, 40, 187);
    background-color: rgb(40, 40, 187);
    margin: 40px 0;
}

.abt-head p{
    text-align: center;
   margin-bottom: 20px;
}

.abt-body{
    display: flex;
    width: 100%;
    max-width: 1300px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.abt-body .col-left{
    flex-basis: 60%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
}
.abt-body .col-right{
    flex-basis: 40%;
    width: 100%;
}

.abt-body .col-left>i{
    transform: rotate(-45deg);
    margin: 20px 6px;
    color: burlywood;
}
.abt-body .col-left p{
    margin: 10px 0 50px 0;
    line-height: 20px;
}

.abt-body .abt-card{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 20px 0px 20px 0px ;
padding: 0 20px;
}

.abt-title-bar{
    display: flex;
    align-items: center;
}
.abt-card i{
    color: blue;
}
.abt-card span{
    flex-basis: 30%;
    height: .01rem;
    background-color: blue;
    margin: 20px ;
}

.abt-card h2{
    font-weight: 500;
    color: rgb(70, 70, 70);
}

/* ==============================slider==================== */
.content-slider {
    width: 100%;
    height: 320px;
  }
  
  .slider {
    height: 320px;
    width: 500px;
    margin: 40px auto 0;
    overflow: visible;
    position: relative;
  }
  
  .mask {
    overflow: hidden;
    height: 420px;
  }
  
  .slider ul {
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  .slider li {
    width: 680px;
    height: 320px;
    position: absolute;
    top: -325px;
    list-style: none;
  }
  
  .slider .quote {
    font-size: 40px;
    font-style: italic;
  }
  
 
  
  .slider li.anim1 {
    animation: cycle 15s linear infinite;
  }
  
  .slider li.anim2 {
    animation: cycle2 15s linear infinite;
  }
  
  .slider li.anim3 {
    animation: cycle3 15s linear infinite;
  }
  
  .slider li.anim4 {
    animation: cycle4 15s linear infinite;
  }
  
  .slider li.anim5 {
    animation: cycle5 15s linear infinite;
  }
  
  .slider:hover li {
    animation-play-state: paused;
  }
  
  @keyframes cycle {
    0% {
      top: 0px;
    }
    4% {
      top: 0px;
    }
    16% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    20% {
      top: 325px;
      opacity: 0;
      z-index: 0;
    }
    21% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
    50% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
    92% {
      top: -325px;
      opacity: 0;
      z-index: 0;
    }
    96% {
      top: -325px;
      opacity: 0;
    }
    100% {
      top: 0px;
      opacity: 1;
    }
  }
  
  @keyframes cycle2 {
    0% {
      top: -325px;
      opacity: 0;
    }
    16% {
      top: -325px;
      opacity: 0;
    }
    20% {
      top: 0px;
      opacity: 1;
    }
    24% {
      top: 0px;
      opacity: 1;
    }
    36% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    40% {
      top: 325px;
      opacity: 0;
      z-index: 0;
    }
    41% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
    100% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
  }
  
  @keyframes cycle3 {
    0% {
      top: -325px;
      opacity: 0;
    }
    36% {
      top: -325px;
      opacity: 0;
    }
    40% {
      top: 0px;
      opacity: 1;
    }
    44% {
      top: 0px;
      opacity: 1;
    }
    56% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    60% {
      top: 325px;
      opacity: 0;
      z-index: 0;
    }
    61% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
    100% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
  }
  
  @keyframes cycle4 {
    0% {
      top: -325px;
      opacity: 0;
    }
    56% {
      top: -325px;
      opacity: 0;
    }
    60% {
      top: 0px;
      opacity: 1;
    }
    64% {
      top: 0px;
      opacity: 1;
    }
    76% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    80% {
      top: 325px;
      opacity: 0;
      z-index: 0;
    }
    81% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
    100% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
  }
  
  @keyframes cycle5 {
    0% {
      top: -325px;
      opacity: 0;
    }
    76% {
      top: -325px;
      opacity: 0;
    }
    80% {
      top: 0px;
      opacity: 1;
    }
    84% {
      top: 0px;
      opacity: 1;
    }
    96% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    100% {
      top: 325px;
      opacity: 0;
      z-index: 0;
    }
  }
/* ==============================slider==================== */
/* ================================== category section=================================== */
.category{
    background-color: #ecf0f3;
   
}
.category-body{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* ==================================category cards======================================== */
.radiogroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 48px 40px;
    border-radius: 16px;
    background: #ecf0f3;
    box-shadow:
    -4px -4px 4px 0px #d1d9e6 inset,
    4px 4px 4px 0px #ffffff inset;
   transition: box-shadow .5s;
}
  
.radiogroup:hover{
      box-shadow:
      4px 4px 4px 0px #d1d9e6 inset,
      -4px -4px 4px 0px #ffffff inset;
} 
.icon-box{
    width: 100px;
    height: 100px;
    transform: rotate(-45deg);
    box-shadow:
      4px 4px 4px 0px #d1d9e6 inset,
      -4px -4px 4px 0px #ffffff inset;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: box-shadow .5s;
}
.radiogroup:hover .icon-box{
    box-shadow:
    -4px -4px 4px 0px #d1d9e6 inset,
    4px 4px 4px 0px #ffffff inset;
}
.icon-box i{
    transform: rotate(45deg);
 font-size: 30px;
}
 
.radiogroup .separation-line{
    height: 1px;
    width: 180px;
    margin: 50px auto;
    background-color: rgb(255, 255, 255); 
}
.radiogroup .separation-line .fa{
    transform: rotate(-45deg);
    position: relative;
    top: -8px;
    left: 70px;
    margin-right: 10px;
}
/* ==================================category cards======================================== */

/* ==============================media query=============================== */
@media only screen and (max-width: 1200px) {
    
   .col-left{
       flex-basis: 100%;
   }
   .col-right{
       flex-basis: 100%;
   }
  }
































